body {
    background-color: white;
    font-family: "Pretendard";
    color: white;
    padding: 0;
    margin: 0;
}

body>* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: inherit;
}

p {
    margin: 0;
}

.inner {
    position: relative;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}
.Navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.Navigation-Anchor {
    background-color: unset !important;
}
a.Navigation-Anchor::after {
    font-size: 14px;
    font-weight: 600;
}
a.Navigation-Anchor[href='#banner']::after {
    content: '소개';
}
a.Navigation-Anchor[href='#major']::after {
    content: '전공';
}
a.Navigation-Anchor[href='#venture']::after {
    content: '벤처';
}
a.Navigation-Anchor[href='#studnetActivities']::after {
    content: '학생활동';
}
a.Navigation-Anchor[href='#newsLetter']::after {
    content: 'NewsLetter';
}