body {position: relative; margin: 0;padding: 0; font-family: "Noto Sans KR", sans-serif;}
::-webkit-scrollbar {display: none;}
a {text-decoration: none;}
ul , li {list-style: none;}
p {margin: 0;}
section {margin-top: 120px;}
section  .section-tit {font-size: 62px; font-weight: 700; color: #FFF; line-height: 62px;}