.section-bg {width: 100%; height: 100%; background-color: black; overflow: hidden;}
.section-bg .inner {position: relative;}
.board {width: 50%; position: absolute; top: calc(50% - 100px); left: -20px;}
.activity-tit {position: absolute; font-size: 200px; line-height: 64px; font-weight: 700; opacity: .2;}
.activity-tit.one {left: -150px; top: calc(0% + 200px);}
.activity-tit.two {right: -150px; bottom: calc(0% + 100px);}
.board .tit {font-size: 24px; font-weight: 500; line-height: 48px; margin-bottom: 20px;}
.board ul > li {padding: 25px; border-bottom: 1px solid white; cursor: pointer; transition: .5s;}
.board ul > li:nth-child(1) {border-top: 1px solid white;}
.board ul > li span {display: inline-block; min-width: 17px; margin-right: 15px;}
.board ul > li .board-tit {flex-grow: 2; max-width: 352px;}
.board ul > li .part {flex-grow: 1;}
.board ul > li i {display: inline-block; width: 18px; height: 18px; background-image: url(../../images/ico-add.svg); background-repeat: no-repeat; background-size: cover;}
.board ul > li span , .board-wrap .board ul > li p {font-size: 18px; line-height: 18px;}
.board ul > li:hover {background-color: #222;}
.board ul > li .tit-wrap {display: flex; align-items: center;}
.board.year {right: -20px; left: auto;}
.board.year ul > li .disc-wrap {margin-top: 10px;}
.board.year ul > li .disc-wrap .dev-name {margin-top: 10px;}
.board.year ul > li .disc-wrap p {font-size: 14px;}
.board.year ul > li .tit-wrap {justify-content: space-between;}
.board.year ul > li .disc-wrap .premier-tit span {font-weight: 700; font-size: 14px; margin-right: 10px;}
.year-div {display: flex; justify-content: space-between; align-items: center;}
.MuiPaper-root.MuiPaper-elevation {background-color: unset; color: #FFF; border-top: 1px solid #FFF; transition: .5s;}
.MuiPaper-root:last-child {border-bottom: 1px solid #FFF;}
.MuiPaper-root:hover {background-color: #222;}
.work-disc-wrap {padding-left: 10px; margin-bottom: 10px;}
.work-disc-wrap span {font-size: 18px; font-weight: 700; margin-right: 15px;}
.work-disc-wrap:last-child{margin-bottom: 0;}
.work-disc-wrap p:first-child {font-size: 14px; font-weight: 700; margin-bottom: 5px;}
.work-disc-wrap p {font-size: 12px;}
.work-disc-wrap {padding-left: 10px; margin-bottom: 10px;}
.work-disc-wrap span {font-size: 18px; font-weight: 700; margin-right: 15px;}
.work-disc-wrap:last-child{margin-bottom: 0;}
.work-disc-wrap p:first-child {font-size: 14px; font-weight: 700; margin-bottom: 5px;}
.work-disc-wrap p {font-size: 12px;}
.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {margin: 0; padding: 25px;}
.MuiButtonBase-root.MuiAccordionSummary-root {min-height: unset; padding: 0;}
.MuiTypography-root.MuiTypography-body1{display: flex; width: 100%; flex-direction: column; font-size: 18px; line-height: 18px;}
.MuiTypography-root.MuiTypography-body1 i {display: inline-block; width: 18px; height: 18px; background-image: url(../../images/ico-add.svg); background-repeat: no-repeat; background-size: cover;}
