.section-bg {width: 100%; height: 100%; background-color: black;}
.section-bg .inner {position: relative;}
.board {width: 50%; position: absolute; top: calc(50% - 34px);}
.activity-tit {position: absolute; left: -200px; top: calc(100% - 160px); text-align: center; font-size: 200px; line-height: 64px; font-weight: 700; opacity: .7;}
.board .tit {font-size: 24px; font-weight: 500; line-height: 48px; margin-bottom: 20px;}
.board ul > li {padding: 25px; border-bottom: 1px solid white; cursor: pointer; transition: .5s;}
.board ul > li:nth-child(1) {border-top: 1px solid white;}
.board ul > li span {display: inline-block; min-width: 17px; margin-right: 15px;}
.board ul > li .board-tit {flex-grow: 2; max-width: 352px;}
.board ul > li .part {flex-grow: 1;}
.board ul > li i {display: inline-block; width: 18px; height: 18px; background-image: url(../../images/ico-add.svg); background-repeat: no-repeat; background-size: cover;}
.board ul > li span , .board-wrap .board ul > li p {font-size: 18px; line-height: 18px;}
.board ul > li:hover {background-color: #222;}
.board ul > li .tit-wrap {display: flex; align-items: center;}
.board.year {top: calc(50% - 379px); right: 0;}
.board.year ul > li .disc-wrap {margin-top: 10px;}
.board.year ul > li .disc-wrap .dev-name {margin-top: 10px;}
.board.year ul > li .disc-wrap p {font-size: 14px;}
.board.year ul > li .tit-wrap {justify-content: space-between;}
.board.year ul > li .disc-wrap .premier-tit span {font-weight: 700; font-size: 14px; margin-right: 10px;}
.css-nt424e-MuiPaper-root-MuiAccordion-root {background-color: unset !important; color: #FFF !important; transition: .5s !important;}
.css-nt424e-MuiPaper-root-MuiAccordion-root:hover {background-color: #222 !important;}
.css-nt424e-MuiPaper-root-MuiAccordion-root:last-of-type {border-bottom: 1px solid #FFF !important;}
.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {min-height: unset !important; padding: 25px !important; border-top: 1px solid #FFF !important; max-height: 70px;}
.work-disc-wrap {padding-left: 10px; margin-bottom: 10px;}
.work-disc-wrap span {font-size: 18px; font-weight: 700; margin-right: 15px;}
.work-disc-wrap:last-child{margin-bottom: 0;}
.work-disc-wrap p:first-child {font-size: 14px; font-weight: 700; margin-bottom: 5px;}
.work-disc-wrap p {font-size: 12px;}
.css-eqpfi5-MuiAccordionSummary-content {margin: 0 !important;}
.MuiTypography-root.MuiTypography-body1.css-1cj482v-MuiTypography-root {display: flex; width: 100%; align-items: center; justify-content: space-between; font-size: 18px; line-height: 18px;}
.MuiTypography-root.MuiTypography-body1.css-1cj482v-MuiTypography-root i {display: inline-block; width: 18px; height: 18px; background-image: url(../../images/ico-add.svg); background-repeat: no-repeat; background-size: cover;}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded.MuiAccordion-gutters.css-nt424e-MuiPaper-root-MuiAccordion-root {--Paper-shadow: }
.css-75i5dt-MuiPaper-root-MuiAccordion-root {background-color: unset !important; color: #FFF !important;}
.MuiPaper-root:last-child {border-bottom: 1px solid #FFF;}