.major-wrapper {
    position: relative;
    background-color: black;
}

.major-wrapper .inner {
    display: flex;
    position: relative;
}

.major-tit {
    position: absolute;
    top: calc(50%);
    left: calc(50% - 475px);
    font-size: 350px;
    line-height: 68px;
    font-weight: 600;
    opacity: .5;
}

.major-r {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    margin: 0 auto;
    gap: 600px;
}

.major-r .swiper {
    width: 350px;
    height: 100%;
    margin-top: 150px;
}

.major-r .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 28px;
    word-break: keep-all;
    overflow: hidden;
}

.slideImg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .5;
    transition: .5s;
}

.slideTit {
    font-size: 32px;
    opacity: 0;
    font-weight: 700;
    transition: .5s;
    letter-spacing: 0.2px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    
}

.slideImg:hover::after {
    opacity: 1;
    transition: .5s;
}

.slideImg:hover .slideTit {
    opacity: 1;
}

.slideImg.ai::after {
    background-image: url(../../images/m_AI.png);
}

.slideImg.game::after {
    background-image: url(../../images/m_game.jpg);
}

.slideImg.web::after {
    background-image: url(../../images/m_web.png);
}

.slideImg.iot::after {
    background-image: url(../../images/m_iot.jpg);
}

.slideImg.secure::after {
    background-image: url(../../images/m_secure.jpg);
}

.slideImg.soft::after {
    background-image: url(../../images/m_software.jpg);
}

.slideImg.net::after {
    background-image: url(../../images/m_network.jpg);
}

.slideImg.bigdata::after {
    background-image: url(../../images/m_bigdata.jpg);
}

.slideImg.robot::after {
    background-image: url(../../images/m_robot.png);
}

.slideImg.virtual::after {
    background-image: url(../../images/m_virtual.jpg);
}